#canvas {
    z-index: 10;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.overlay .bot-editor {
    background-color: aliceblue;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

#current-bot-details {
    z-index: 100;
    position: fixed;
    top: 40px;
    left: 40px;
    display: none;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.label {
    margin-top: 10px;
}

button.bot-edit {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
}

button.sim-pause {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

